@using  Univ_WebSite_Api_Net_Use.Models

@model Person 
@{
    ViewBag.Title = "PersonDetail";
}

<h2>PersonDetail</h2>


<div>
    @Model.Name
    <br/>
    @Model.Family<br />
    @Model.BirthDate<br />
    @Model.Sex<br />
    @Model.Picture<br />



</div>

